#!/bin/bash
#######################################################################
# build.config
#
# Part of the SEALs project.
# This is the configuration file; all config variables must go here.
# 
# !! IMP NOTE TO THE END-USER OF THIS PROJECT !!
# You are responsible for editing this configuration file, setting the 
# variables to sane values.
# To help you out, the place in the source below which has the config 
# variables that you MUST update have been marked with a comment line 
# as follows:
# # @@@@@
# So, you could just search for this string '@@@@@' (excluding the quotes of course),
# and make sure you update the following config variable(s) to the sane value 
# for your box.
# !!
#---
# Author: Kaiwan N Billimoria
# (C) kaiwanTECH
# Created: Dec 2014.
# Last Update: 24 Nov 2017.
#---
#######################################################################
#
# Generic Config file.
# For a minimal QEMU-ARM project, we Expect that:
# - an x86-to-ARM toolchain is installed and working
# - a recent version of the Linux kernel source tree is available
# - a recent version of busybox source tree is available
##############

set -a   # auto export all vars

##################### UPDATE as required
# @@@@@
CONFIG_NAME_STR="SEALs config file for [you fill this in]"
COLOR=1        # terminal color support? Assume yes..
GUI_MODE=0     # mode is auto-detected
DEBUG=0        # set to 1 to get debug messages displayed
VERBOSE_MSG=0  # set to 1 to get more verbose messages displayed
                 #  [loglevel][date-timestamp]<actual-message>
LOGFILE_COMMON=log_seals.txt

# Toolchain
# the toolchain to use; expect that it is installed and the PATH is setup..
# @@@@@
CXX=arm-none-linux-gnueabi-  # toolchain prefix
# CXX_LOC is the location of the x86-to-ARM toolchain on disk.
# (used to setup the PATH and locate the ARM shared libraries within the toolchain)
# @@@@@
CXX_LOC=~/MentorGraphics/Sourcery_CodeBench_Lite_for_ARM_GNU_Linux

# Toolchain in the PATH
PATH=$PATH:${CXX_LOC}/bin

###------###

TOPDIR=$(pwd)

### Locations on Disk ###
### UPDATE ### on your system!
# @@@@@
STG=~/scratchpad/SEALS_staging
 # Recommendation: if running a cloud-sync service (like Dropbox), keep the 
 # staging area outside it.

# Okay, so under the ${STG} folder, we expect you have extracted the 
# source of busybox into the folder ${BB_FOLDER} ver ${BB_VER}.
# (Update the variables below to reflect your settings and installation).
# @@@@@
BB_FOLDER=${STG}/busybox-1.26.2
BB_VER="1.26.2"
ROOTFS=${STG}/rootfs
IMAGES_FOLDER=${STG}/images
IMAGES_BKP_FOLDER=${STG}/images_bkp
CONFIGS_FOLDER=${STG}/configs


#####
# Select the ARM platform (to build the kernel for). Choices:
# For the purpose of a "real" example, this file is pre-populated with values
# relevant to the Qemu Verastile Express (vexpress) platform (ARMv7 Cortex-A9).
# @@@@@
# English-like name
ARM_PLATFORM_STR="Versatile Express (A9)"

# ! IMPORTANT !
# Pl set the variable ARM_PLATFORM carefully; it will be used to setup
# the inital config and is therefore very critical that it's given correctly:
#   make ARCH=arm ${ARM_PLATFORM}_defconfig
# So, check under <kernel-src>/arch/<cpu>/configs/
# for the best match to your platform, in the form
#  <ARM_PLATFORM>_defconfig
# and put it here..
ARM_PLATFORM=vexpress

# ARM_PLATFORM_OPT is the value passed via the -M switch to Qemu
# Look for it via qemu-system-arm -M ?   ; eg.
#  qemu-system-arm -M ? |grep -i "i.mx"
ARM_PLATFORM_OPT=vexpress-a9

### UPDATE ### on your system!
# Okay, so under the ${STG} folder (or other), we expect you have extracted the 
# source of the Linux kernel into ${KERNEL_FOLDER} , ver ${KERNELVER}.
# (Update the variables below to reflect your settings and installation).
# @@@@@
KERNEL_FOLDER=${STG}/linux-4.9.1
KERNELVER=4.9.1
# @@@@@
# DTB: specify the Device Tree Blob <filename>.dtb
DTB_BLOB=vexpress-v2p-ca9.dtb
#####

#####
# @@@@@
# SEALs (virtual) "Hardware"
SEALS_RAM=512
## RootFS
# !Careful! Set to 1 to force a rebuild of the rootfs; implies OVERWRITING any
# existing rootfs
RFS_FORCE_REBUILD=0
# Rootfs size: recommendation: if using a kdump kernel, make it >= 768 MB,
# else 256 MB is fine.
RFS_SZ_MB=256

#####
# @@@@@
# SEALs kernel command-line
SEALS_K_CMDLINE="console=ttyAMA0 root=/dev/mmcblk0 init=/sbin/init"
# if 512M RAM, reserve 32M for crashk, else if 256M RAM, reserve 16M
#K_CMDLINE_XTRA="crashkernel=32M" # works with 32M not 16M [?]
#K_CMDLINE_XTRA="initcall_debug ignore_loglevel debug"
[ ! -z "${K_CMDLINE_XTRA}" ] && SEALS_K_CMDLINE="${SEALS_K_CMDLINE} ${K_CMDLINE_XTRA}"

##### Config vars for what to build
# VAR=1   :   'do' the work 'VAR'
# VAR=0   :   'do Not' do the work 'VAR'
BUILD_KERNEL=0
BUILD_ROOTFS=0
GEN_EXT4_ROOTFS_IMAGE=0
SAVE_BACKUP_IMG_CONFIGS=0
RUN_QEMU=0


### "WIPE_*_CONFIG" directives
# Set var to 'y' implies any existing kernel configuration is wiped out.
# Suggestion: set to 'y' for the FIRST build with a clean kernel source tree..
# @@@@@
WIPE_KERNEL_CONFIG=0
# Set var to 'y' implies any existing busybox configuration is wiped out.
# Suggestion: set to 'y' for the FIRST build with a clean busybox source tree..
# @@@@@
WIPE_BUSYBOX_CONFIG=0


###
# Config vars for when we run QEMU:
KGDB_MODE=0  # make '1' to have qemu run w/ the '-S' switch (waits for gdb to 'connect')
SMP_EMU_MODE=0  # make '1' to have qemu run w/ 2 emulated cores 
                       # (only applicable on the Versatile Express C-A9 platform)

#--- End build.config
